body {
  margin: 0;
  padding: 0;

  color: #000000;
  background-color: #ffffff;

  font-size: 100%;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 3em;
  font-family: "Lato", sans-serif;
}

h2 {
  padding-top: 0.5em;
  line-height: 1.5em;
  font-size: 1em;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

p {
  font-size: 1em;
  font-weight: light;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  font-weight: light;
  font-family: "Lato", sans-serif;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
}

img {
  width: 100%;
  height: 100%;
}

.written-title {
  margin: 0;
}

.image-container {
  width: 20em;
  height: 20em;
  position: fixed;
  top: max(6rem, calc(50vh - 10em));
  left: calc((100vw - (20em + 3em + 40em)) / 2);
}

.text-column {
  margin-left: calc((100vw - (20em + 3em + 40em)) / 2 + 20em + 3em);
  width: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 6rem 0;
  box-sizing: border-box;
}

.written-content {
  margin: 0;
}

.footer-text {
  margin: 0;
  color: #b0b0b0;
}

.error-text {
  margin: 1em;
}

/* if we have thin window or are on mobile, use modified layout */
@media screen and (max-width: 72em) {
  .text-column {
    display: block;
    margin-left: 0;
    width: auto;
    min-height: auto;
    padding: 0;
  }

  .written-title {
    margin: 1em;
  }

  .image-container {
    width: 10em;
    height: 10em;
    position: relative;
    top: auto;
    left: auto;
    margin: 1em;
  }

  .written-content {
    margin: 0 1em 1em;
    width: calc(100vw - 2em);
  }
}
