body {
  margin: 0;
  padding: 0;

  color: #262626;
  background-color: #ffffff;

  font-size: 100%;
}

h1 {
  line-height: 0;
  font-weight: bold;
	font-size: 3em;
  font-family: 'Assistant', sans-serif;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Assistant', sans-serif;
}

p {
  font-size: 1em;
  font-family: 'Assistant', sans-serif;
}

a {
  color: inherit;
  font-family: 'Assistant', sans-serif;
}

#header {
  margin-top: 2em;
  margin-left: 22em;
  margin-bottom: 3em;
  padding-top: 0.5em;
}

#text {
  width: 40em;
  margin-left: 22em;
}

#footer {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  margin-left: 22em;
  color: #999999;
}

#errortext {
  margin: 1em;
}

/* if we're desktop and our screen is sufficiently tall, vertically center */
@media screen and (min-width: 66em) and (min-height: 45em) {
  #content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #desktopimage {
    width: 20em;
    height: 20em;
    float: left;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    content: url("../images/ColinParsons.png");
  }
}

/* if we're desktop but our screen isn't tall enough, stop vertically centering */
@media screen and (min-width: 66em) and (max-height: 45em) {
  #content {
    position: relative;
    width: 62em;
    margin: auto;
  }

  #desktopimage {
    width: 20em;
    height: 20em;
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    content: url("../images/ColinParsons.png");
  }
}

/* if we have thin window or are on mobile, use modified layout */
@media screen and (max-width: 66em) {
  #header {
    margin-top: 2.5em;
    margin-left: 0;
    margin-bottom: -2em;
    width: calc(100vw - 2em);
    height: 4em;
    align-items: left;
    padding: 0 1em;
  }

  #text {
    margin-left: 0;
    width: calc(100vw - 2em);
    padding: 0 1em;
  }

  #footer {
    margin-left: 0;
    width: calc(100vw - 2em);
    align-items: left;
    padding: 0 1em;
  }

	#mobileimage {
    width: 15em;
    height: 15em;
    padding: 1em 1.25em;

    content: url("../images/ColinParsons.png")
  }
}
